.Badge{  
    background-size: contain;
    background-repeat: no-repeat;
    height: 8vh;
    width: 6vw;
    filter: brightness(20%);
}

.Bagde_win{
    background-size: contain;
    background-repeat: no-repeat;
    height: 8vh;
    width: 6vw;
    filter: brightness(100%);
}
.Badge:hover{
    transform: scale(1.5);
    cursor: pointer;
}

#Badge1{
    background-image: url("../images/badges/badge1.png");}    

#Badge2{
    background-image: url("../images/badges/badge2.png");}
#Badge3{
    background-image: url("../images/badges/badge3.png");}
#Badge4{
    background-image: url("../images/badges/badge4.png");}
#Badge5{
    background-image: url("../images/badges/badge5.png");}
#Badge6{
    background-image: url("../images/badges/badge6.png");}
#Badge7{
    background-image: url("../images/badges/badge7.png");}
#Badge8{
    background-image: url("../images/badges/badge8.png");}

#Elite{
    background-image: url("../images/badges/elite.png");
    margin-left: 1.5rem;
}
 #BadgeChampion{
    background-image: url("../images/badges/campion.png");}

    .allBadges{
        display: flex;
        width: 80%;
        justify-content:center;
        align-items: center;
     
        
        }