.Badge{  
    background-size: contain;
    background-repeat: no-repeat;
    height: 8vh;
    width: 6vw;
    filter: brightness(20%);
}

.Bagde_win{
    background-size: contain;
    background-repeat: no-repeat;
    height: 8vh;
    width: 6vw;
    filter: brightness(100%);
}
.Badge:hover{
    transform: scale(1.5);
    cursor: pointer;
}

#Elite{
    background-image: url("../images/badges/elite.png");
    margin-left: 1.5rem;
}
 #BadgeChampion{
    background-image: url("../images/badges/campion.png");}

    .allBadges{
        display: flex;
        width: 80%;
        justify-content:center;
        align-items: center;
     
        
        }