.main-stadium2{
    display: flex;
    width: 95vw;
    justify-content: space-evenly;
    align-items: center;

}

.MyDices,.RivalDices,.MyTotal,.RivalTotal{
    display: flex;
    margin-top: 1rem;
    
}

.MyDice, .RivalDice{
    width: 3vw;
    height: 5vh;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
   
    
}
.RivalDice:hover,.MyDice:hover{
        cursor: pointer;
        transform: scale(1.5);
}

.mydice1{
    background-image: url("../images/dices/dice1.png");
}
.mydice2{
    background-image: url("../images/dices/dice2.png");
}
.mydice3{
    background-image: url("../images/dices/dice3.png");
}
.mydice4{
    background-image: url("../images/dices/dice4.png");
}
.mydice5{
    background-image: url("../images/dices/dice5.png");
}
.mydice6{
    background-image: url("../images/dices/dice6.png");
}

.MyPokemon_status,.RivalPokemon_status{
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: space-evenly;
}
.status_battle{
    width: 5vw;
    height: 7vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}


.MyTotal_label ,.MyTotal,.RivalTotal_label,.RivalTotal{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}